<%- include('header') %>

    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img src="https://cdn.hinhnen4k.net/uploads/2021/11/night_sky_night_stars_202408_3840x2160.jpg" width="100%"
                height="660">
            <div class="container">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row mt-2">
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Đăng ký tài khoản</h1>
                                    </div>
                                    <form action="/register" method="POST" role="form" id="register_form">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name"
                                                placeholder="Input name">
                                            <small id="name_error" class="text-danger"></small>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email"
                                                placeholder="Input email">
                                            <small id="email_error" class="text-danger"></small>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="password"
                                                placeholder="Input password">
                                            <small id="password_error" class="text-danger"></small>
                                        </div>
                                        <div class="form-group">
                                            <select name="role" id="input" class="form-control" required="required">
                                                <option value="admin">Admin</option>
                                                <option value="customer">Customer</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">Register
                                            Account</button>
                                        <hr>
                                        <a href="/register" class="btn btn btn-danger btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Register with Google
                                        </a>
                                        <a href="/register" class="btn btn-success btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                        </a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small text-warning" href="/login">Already have an account?
                                            Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer') %>

        <script>
            register_form.onsubmit = function () {
                if (register_form.name.value == '') {
                    register_form.name.style.border = '1px solid red';
                    name_error.innerHTML = 'Không được để trống';
                    register_form.name.focus();
                } else {
                    name_error.innerHTML = '';
                    register_form.name.style.border = '1px solid lightblue';
                };

                if (register_form.email.value == '') {
                    register_form.email.style.border = '1px solid red';
                    email_error.innerHTML = 'Không được để trống';
                    register_form.email.focus();
                } else {
                    email_error.innerHTML = '';
                    register_form.email.style.border = '1px solid lightblue';
                };

                if (register_form.password.value == '') {
                    register_form.password.style.border = '1px solid red';
                    password_error.innerHTML = 'Không được để trống';
                    register_form.password.focus();
                    return false;
                } else {
                    password_error.innerHTML = '';
                    register_form.password.style.border = '1px solid lightblue';
                };
            }