<%-include('header') %>
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1>Đăng ký thành công</h1>
                <p>
                    <a href="/login" class="btn btn-primary btn-lg">Quay lại Login</a>
                </p>
            </div>
        </div>
    </div>
    <%-include('footer')%>