<%-include('header') %>
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1>Có lỗi</h1>
                <p>THông báo lỗi: <%= message %> ...</p>
                <p>
                    <a href="/register" class="btn btn-primary btn-lg">Quay lại</a>
                </p>
            </div>
        </div>
    </div>
<%-include('footer')%>