<div id="default_theme">
    <div id="mySidenav" class="sidenav">
        <ul class="menu_sidebar" id="menu_nav">
            <li><a class="btn_close" href="javascript:void(0)" class="closebtn" ng-click="closeNav()">x</a></li>
            <a style="width:80%;text-decoration: none;" href="">
                <li style="width:100%;" class="items-selector">
                    <img style="width:50px;border-radius:50%;" src="img/default_user.png" alt="">
                    <span style="margin-left:10px" class="font-sz text-black">Login / Register</span>
                </li>
            </a>
            <li class="items-selector">
                <a href="#"><i class="far fa-clone"></i></a>
                <span class="font-sz text-black">sales order</span>
            </li>
            <li class="items-selector">
                <a href="#"><i class="far fa-clone"></i></a>
                <span class="font-sz text-black">purchase order</span>
            </li>
            <li class="items-selector">
                <a href="#"><i class="far fa-clone"></i></a>
                <span class="font-sz text-black">Post saved</span>
            </li>
            <li class="items-selector">
                <a href="#"><i class="far fa-clone"></i></a>
                <span class="font-sz text-black">purple sword saved</span>
            </li>
            <li class="items-selector">
                <a href="#"><i class="far fa-clone"></i></a>
                <span class="font-sz text-black">friends</span>
            </li>
        </ul>
    </div>
</div>
<!-- Close Header -->
<!-- chua reponsive -->
<section class="">
    <div id="etpm-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#etpm-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#etpm-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#etpm-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner bg-success banner-img">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-7 p-relative r-left">
                                        <div class="full back_blog text_align_center padding_right_left_15">
                                            <img src="img/about_img.png" alt="#">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="full heading_s1">
                                            <h3 class="text-white">About</h3>
                                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum..</p>
                                        </div>
                                        <div class="full">
                                            <a class="read_more_bt" href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-7 p-relative r-left">
                                        <div class="full back_blog text_align_center padding_right_left_15">
                                            <img class="" src="img/about_img.png" alt="#">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="full heading_s1">
                                            <h3>We can</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum..</p>
                                        </div>
                                        <div class="full">
                                            <a class="read_more_bt" href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#etpm-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#etpm-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Our Brands</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#etpmmo-slide-brand" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="etpmmo-slide-brand" data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End First slide-->

                                    <!--Second slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Second slide-->

                                    <!--Third slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Third slide-->

                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#etpmmo-slide-brand" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about section-pd">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 section-title">
                    <h2 data-title="US STORY">ABOUT US</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 about-items">
                    <h2>WELL COME YOURS TO OUR PRODUCT</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptates consequuntur sint eligendi quia quam voluptatem. Eveniet facilis, voluptate officia ab animi inventore, sed molestiae temporibus, totam illo libero odio!</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptates consequuntur sint eligendi quia quam voluptatem. Eveniet facilis, voluptate officia ab animi inventore, sed molestiae temporibus, totam illo libero odio!</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptates consequuntur sint eligendi quia quam voluptatem. Eveniet facilis, voluptate officia ab animi inventore, sed molestiae temporibus, totam illo libero odio!X
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptates consequuntur sint eligendi quia quam voluptatem. Eveniet facilis, voluptate officia ab animi inventore, sed molestiae temporibus, totam illo libero odio!</p>
                    <button class="btn">
                  READING
              </button>
                </div>
                <div class="col-lg-6 about-items">
                    <div class="about-item-img">
                        <span>10 + Years Experience</span>
                        <img src="img/den-op-tran.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="tiltle bg-light-blue mt-5 mb-5"></div>
    <!-- End Section -->
    <div class="container bg-light">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="img/den-op-tran.jpeg">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                <h1 class="mb-4" _msthash="1251393" _msttexthash="11903567">#1 Nơi để tìm bất động sản hoàn hảo</h1>
                <p class="mb-4" _msthash="1203917" _msttexthash="21944962">Tempor erat elitr rebum at clita. Diam dolor diam ipsum ngồi. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                <p><i class="fa fa-check text-primary me-3"></i>
                    <font _mstmutation="1" _msthash="1204034" _msttexthash="750932">Tempor erat elitr rebum at clita</font>
                </p>
                <p><i class="fa fa-check text-primary me-3"></i>
                    <font _mstmutation="1" _msthash="1204151" _msttexthash="528827">Aliqu diam amet diam et eos</font>
                </p>
                <p><i class="fa fa-check text-primary me-3"></i>
                    <font _mstmutation="1" _msthash="1204268" _msttexthash="999297">Clita duo justo magna dolore erat amet</font>
                </p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="" _msthash="1203020" _msttexthash="933348">ĐọC Thêm</a>
            </div>
        </div>
    </div>
    <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Our Brands</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#etpmmo-slide-brand" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="etpmmo-slide-brand" data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End First slide-->

                                    <!--Second slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Second slide-->

                                    <!--Third slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Third slide-->

                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#etpmmo-slide-brand" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>